<main>
    <div class="col-md-6 offset-md-3">
        <h2 class="heading-secondary">
            Who we are and what we offer
        </h2>
    </div>
    <section class="section-about">

        <div class="row">
            <div class="col-md-6">
                <h3>Enjoy the classic in your everyday life</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis
                    soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam.
                </p>
                <h3>Make your life more beautiful and attractive</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptas perspiciatis soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam aspernatur in dicta maiores facere laboriosam.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis
                    soluta sequi iste nostrum ea, inventore sed eos itaque eaque repellat enim nobis quibusdam
                </p>

            </div>
            <div class="col-md-6">
                <div class="composition">
                    <img src="/img/SK-A-4050.jpg" alt="/img/SK-A-4050.jpg" class="composition__photo composition__photo--p1">
                    <img src="/img/SK-A-3307.jpg" alt="" class="composition__photo composition__photo--p2">
                    <img src="/img/SK-C-5.jpg" alt="" class="composition__photo composition__photo--p3">
                    <img src="/img/SK-C-6.jpg" alt="" class="composition__photo composition__photo--p4">
                    <img src="/img/SK-A-3137.jpg" alt="" class="composition__photo composition__photo--p5">
                    <img src="/img/SK-C-216.jpg" alt="" class="composition__photo composition__photo--p6">
                </div>
            </div>
        </div>
    </section>
</main>