.section-about {
    padding: 5rem 0;
}

.heading-secondary {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #a8a8a8, #7b7685);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    margin-bottom: 80px;
}

.heading-secondary:hover {
    text-shadow: 5px 10px 20px rgba(0, 0, 0, 0, .5);
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

p:not(:last-child) {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.composition {
    position: relative;
}

.composition__photo {
    width: 35%;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0, .4);
    position: absolute;
    z-index: 10;
    transition: all 1s;
}

.composition__photo--p1 {
    left: 0;
    top: -2rem;
}

.composition__photo--p2 {
    right: 2rem;
    top: 2rem;
}

.composition__photo--p3 {
    left: 20%;
    top: 15rem;
}

.composition__photo--p4 {
    left: 56%;
    top: 25rem;
}

.composition__photo--p5 {
    left: 30%;
    top: -10rem;
}

.composition__photo--p6 {
    left: 0%;
    top: 24rem;
}

.composition__photo:hover {
    transform: scale(1.5);
    box-shadow: 0 1.7rem 3rem rgb(0, 0, 0, .4);
    z-index: 20;
}