.custom-card {
    perspective: 150rem;
    position: relative;
    height: 25rem;
    margin-bottom: 7rem;
}

.custom-card__side {
    height: 30rem;
    transition: all 1.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}

.custom-card__side--front {
    background-color: whitesmoke;
}

.custom-card__side--back {
    background-image: linear-gradient( to right bottom, #a8a8a8, #7b7685);
    transform: rotateY(180deg);
}

.custom-card:hover .custom-card__side--front {
    transform: rotateY(-180deg);
}

.custom-card:hover .custom-card__side--back {
    transform: rotateY(0);
}

.custom-card__picture {
    height: 14.5rem;
    background-size: 100% 100%;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.custom-card__heading {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 10.5rem;
    right: 0.099rem;
    width: 75%;
}

.custom-card__heading-span {
    padding: 0.3rem 0.45rem;
    background-image: linear-gradient( to right bottom, rgb(168, 168, 168, .65), rgb(123, 118, 133, .65))
}

ul {
    list-style: none;
    width: 80%;
}

li {
    text-align: center;
    font-size: 1rem;
    padding: 0.25rem;
    border-bottom: 1px solid;
}

.custom-card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.custom-card__price-box {
    color: whitesmoke;
    margin: auto;
    text-align: center;
}

.custom-card__price-only {
    font-size: 2rem;
    text-transform: uppercase;
}

.custom-card__price-value {
    font-size: 5rem;
    font-weight: 100;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #3b3b3d;
    color: #e1e4ec;
    padding: 15px 40px;
    border-radius: 100px;
    display: inline-block;
    animation: moveInUp 2s ease-out .75s;
    animation-fill-mode: backwards;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #3b3b3d;
    color: #e1e4ec;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}