<div class="row">

    <div class="product-info col-md-4" *ngFor="let product of products">
        <div class="custom-card">
            <div class="custom-card__side custom-card__side--front">
                <!--   <img src="/img/{{ product.artId }}.jpg" class="img-fluid" [alt]="product.title" />
                <div class="product-name">{{ product.category }} - {{ product.size }}</div>
                <ul class="product-props list-unstyled">
                    <li><strong>Price</strong>: {{ product.price | currency:"EUR":"symbol" }}</li>
                    <li><strong>Artist</strong>: {{ product.artist }}</li>
                    <li><strong>Title</strong>: {{ product.title }}</li>
                    <li><strong>Description</strong>: {{ product.artDescription }}</li>
                </ul>
                <button id="buyButton" class="btn btn-success" (click)="addProduct(product)">Buy</button> -->
                <div class="custom-card__picture" [ngStyle]="{'background-image': 'linear-gradient( to right bottom,   #636161, #3b3b3b), url(/img/'+product.artId +'.jpg)'}">

                </div>
                <h4 class="custom-card__heading">
                    <span class="custom-card__heading-span">
            {{ product.category }} {{ product.size }}
          </span>
                </h4>
                <div class="custom-card__details">
                    <ul>
                        <li>{{product.artist}}</li>
                        <li>{{product.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="custom-card__side custom-card__side--back">
                <div class="custom-card__cta">
                    <div class="custom-card__price-box">
                        <p class="custom-card__price-only">Only</p>
                        <p class="custom-card__price-value">{{ product.price | currency:"EUR":"symbol" }}</p>
                    </div>
                    <a href="#" class="btn" (click)="addProduct(product)">Add to cart</a>
                </div>

            </div>
        </div>
    </div>
</div>