<h3>Shopping Cart</h3>
<div>Items: {{getData.order.items.length}}</div>
<div>Subtotal: {{getData.order.subtotal | currency : "EUR" : true}}</div>
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <td>
                Product
            </td>
            <td>
                Quantity
            </td>
            <td>
                Price
            </td>
            <td>
                Total
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getData.order.items">
            <td>
                {{item.productCategory}} - {{item.productTitle}}
            </td>
            <td>
                {{item.quantity}}
            </td>
            <td>
                {{item.unitPrice | currency : "EUR" : "symbol"}}
            </td>
            <td>
                {{(item.unitPrice * item.quantity) | currency : "EUR" : "symbol"}}
            </td>
        </tr>
    </tbody>
</table>
<a routerLink = "checkout" class="btn btn-primary" *ngIf="getData.order.items.length > 0">Checkout</a>