@{
    ViewBag.Title = "Home Page";
}
@section Styles{
    <link href="~/css/site.css" rel="stylesheet"/>
}
<div class="text-box">
    <div class="greeting">
        <h1>
            <span class="greeting-primary">Welcome</span>
            <span class="greeting-secondary">To Dutch Treat</span>
        </h1>
        <a class="greeting-btn" asp-controller="App" asp-action="Shop">Discover our orders</a>
    </div>
</div>
