<div class="row">
    <div class="col-md-9 offset-md-1">
        <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
        <div class="text-center">
            <h3 class="heading-secondary">Confirm Order</h3>
        </div>
        <div *ngFor="let o of items">
            <section class="section-confirm">
                <div class="row">
                    <div class="order">
                        <figure class="order__shape">
                            <img src="/img/{{ o.productArtId }}.jpg" alt="o.productTitle">
                            <figcaption class="order__caption">
                                {{o.productTitle}}
                            </figcaption>
                        </figure>
                        <div class="order__content">
                            <h3>{{ o.productCategory }} ({{ o.productSize }}) {{ o.productArtist }}: {{ o.productTitle }}</h3>
                            <p>
                                <b>Quantity:</b> {{ o.quantity }}<br>
                                <b>Unit price: </b> {{ o.unitPrice|currency:'EUR':"symbol" }}<br>
                                <b>Total price:</b> {{ (o.unitPrice * o.quantity)|currency:'EUR': "symbol" }} <br>
                                <b>Description:</b> {{getDescription(o.productId)}}
                            </p>
                        </div>
                        <div class="btn-container">
                            <a class="btn-delete" routerLink="/checkout" (click)="deleteItem(o.productId)">Delete from
                                order</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="col-md-2 text-left purchase">
        <table class="table table-condensed">
            <tr>
                <td class="text-left">Subtotal</td>
                <td class="text-right">{{ data.order.subtotal|currency:'EUR':"symbol" }}</td>
            </tr>
            <tr>
                <td class="text-left">Shipping</td>
                <td class="text-right">€ 0.00</td>
            </tr>
            <tr>
                <td class="text-left">Total:</td>
                <td class="text-right">{{ data.order.subtotal|currency:'EUR':"symbol" }}</td>
            </tr>
            <tr>
                <td class="text-left"><a routerLink="/checkout" (click)="onCheckout()">Complete Purchase</a></td>
                <td class="text-right"><a routerLink="/">Cancel</a></td>
            </tr>


        </table>

    </div>

</div>